.centerSlide {
    display: block;
    position: relative;

    img {
        width: 100%;
        display: block;
        border-radius: var(--radius-md);
        aspect-ratio: var(--article-aspect-ratio);
    }

    .description {
        position: absolute;
        bottom: 0;
    }
}


