.article {
    display: flex;
    align-items: flex-start;

    .articleImage {
        width: 100%;
        height: auto;
        aspect-ratio: var(--article-aspect-ratio);
        border-radius: var(--radius-md);
    }

    &.center {
        flex-direction: column;
        .articleImage {
            margin-bottom: var(--padding-lg);
        }
    }

    &.sidebar {
        .articleImage {
            margin-right: var(--padding-lg);
            width: 50%;
        }
    }
}
