.headlineSlide {
    display: block;
    position: relative;
    color: var(--color-white);

    &:hover {
        color: var(--color-hover);
    }

    img {
        width: 100%;
        display: block;
        border-radius: var(--radius-md);
        aspect-ratio: var(--article-aspect-ratio);
    }

    .description {
        position: absolute;
        padding: var(--padding-lg) var(--padding-lg);
        bottom: 0;
        border-radius: var(--radius-md);
        background-color: var(--color-control-background);
    }
}
