header {
    top: 0;
    position: fixed;
    width: 100%;
    height: var(--app-header-height);
    background-color: var(--color-body);
    z-index: var(--app-header-z-index);
    border-bottom: 1px solid grey;
}

main {
    min-height: 100dvh;
    padding: var(--app-header-offset) 0;
}
