:root {
    --app-header-height: 3.75rem;
    --app-header-offset: 3.75rem;
    --app-header-z-index: var(--z-index-app);
    --app-footer-height: 3.75rem;
    --app-footer-offset: 3.75rem;
    --app-footer-z-index: var(--z-index-app);

    --app-padding: var(--spacing-md);

    --z-index-app: 100;
    --z-index-modal: 200;
    --z-index-popover: 300;
    --z-index-overlay: 400;
    --z-index-max: 9999;


    --scale: 1;
    --cursor-type: default;
    --webkit-font-smoothing: antialiased;
    --moz-font-smoothing: grayscale;
    --line-height: 1.55;
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --font-family-headings: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --heading-font-weight: 700;
    --heading-text-wrap: wrap;
    --radius-default: calc(.25rem * var(--scale));
    --breakpoint-xs: 36em;
    --breakpoint-sm: 48em;
    --breakpoint-md: 62em;
    --breakpoint-lg: 75em;
    --breakpoint-xl: 88em;
    --spacing-xs: calc(.625rem * var(--scale));
    --spacing-sm: calc(.75rem * var(--scale));
    --spacing-md: calc(1rem * var(--scale));
    --spacing-lg: calc(1.25rem * var(--scale));
    --spacing-xl: calc(2rem * var(--scale));
    --font-size-xs: calc(.75rem * var(--scale));
    --font-size-sm: calc(.875rem * var(--scale));
    --font-size-md: calc(1rem * var(--scale));
    --font-size-lg: calc(1.125rem * var(--scale));
    --font-size-xl: calc(1.25rem * var(--scale));
    --line-height-xs: 1.4;
    --line-height-sm: 1.45;
    --line-height-md: 1.55;
    --line-height-lg: 1.6;
    --line-height-xl: 1.65;
    --shadow-xs: 0 calc(.0625rem * var(--scale)) calc(.1875rem * var(--scale)) rgba(0, 0, 0, .05), 0 calc(.0625rem * var(--scale)) calc(.125rem * var(--scale)) rgba(0, 0, 0, .1);
    --shadow-sm: 0 calc(.0625rem * var(--scale)) calc(.1875rem * var(--scale)) rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 0 calc(.625rem * var(--scale)) calc(.9375rem * var(--scale)) calc(-.3125rem * var(--scale)), rgba(0, 0, 0, .04) 0 calc(.4375rem * var(--scale)) calc(.4375rem * var(--scale)) calc(-.3125rem * var(--scale));
    --shadow-md: 0 calc(.0625rem * var(--scale)) calc(.1875rem * var(--scale)) rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 0 calc(1.25rem * var(--scale)) calc(1.5625rem * var(--scale)) calc(-.3125rem * var(--scale)), rgba(0, 0, 0, .04) 0 calc(.625rem * var(--scale)) calc(.625rem * var(--scale)) calc(-.3125rem * var(--scale));
    --shadow-lg: 0 calc(.0625rem * var(--scale)) calc(.1875rem * var(--scale)) rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 0 calc(1.75rem * var(--scale)) calc(1.4375rem * var(--scale)) calc(-.4375rem * var(--scale)), rgba(0, 0, 0, .04) 0 calc(.75rem * var(--scale)) calc(.75rem * var(--scale)) calc(-.4375rem * var(--scale));
    --shadow-xl: 0 calc(.0625rem * var(--scale)) calc(.1875rem * var(--scale)) rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 0 calc(2.25rem * var(--scale)) calc(1.75rem * var(--scale)) calc(-.4375rem * var(--scale)), rgba(0, 0, 0, .04) 0 calc(1.0625rem * var(--scale)) calc(1.0625rem * var(--scale)) calc(-.4375rem * var(--scale));
    --radius-xs: calc(.125rem * var(--scale));
    --radius-sm: calc(.25rem * var(--scale));
    --radius-md: calc(.5rem * var(--scale));
    --radius-lg: calc(1rem * var(--scale));
    --radius-xl: calc(2rem * var(--scale));
    --h1-font-size: calc(2.125rem * var(--scale));
    --h1-line-height: 1.3;
    --h1-font-weight: 700;
    --h2-font-size: calc(1.625rem * var(--scale));
    --h2-line-height: 1.35;
    --h2-font-weight: 700;
    --h3-font-size: calc(1.375rem * var(--scale));
    --h3-line-height: 1.4;
    --h3-font-weight: 700;
    --h4-font-size: calc(1.125rem * var(--scale));
    --h4-line-height: 1.45;
    --h4-font-weight: 700;
    --h5-font-size: calc(1rem * var(--scale));
    --h5-line-height: 1.5;
    --h5-font-weight: 700;
    --h6-font-size: calc(.875rem * var(--scale));
    --h6-line-height: 1.5;
    --h6-font-weight: 700;
}