.cardTitle {
    display: flex;
    gap: var(--padding-sm);
    margin-bottom: var(--padding-lg);
}

.cardTitleTag {
    width: var(--spacing-xs);
    background-color: var(--color-grape);
    border-radius: var(--radius-xs);
}

.cardTitleText {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-bold);
}
