@use 'src/styles/variables';

.rk-error-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h5 {
        font-weight: variables.$rk-font-light;
    }
}