.centerArticles {
    display: flex;
    flex-direction: column;

    .centerArticlesGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing-xl) var(--spacing-lg);
    }

    @media (width >= 75em) {
        /* min lg width */
        .centerArticlesGrid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
