.center {
    grid-area: center;
}

.side {
    grid-area: side;
}

.sideLayout {
    display: grid;
    gap: var(--spacing-xl);
    grid-template-columns: 100%;
    grid-template-areas: 'center' 'side';

    @media (width >= 48em) {
        /* min sm width */
        grid-template-columns: 60% auto;
        grid-template-areas: 'center side';
    }
    @media (width >= 62em) {
        /* min md width */
        grid-template-columns: 70% auto;
    }
    @media (width >= 75em) {
        /* min lg width */
        grid-template-columns: 70% auto;
    }
    @media (width >= 88em) {
        /* min xl width */
        grid-template-columns: 70% auto;
    }
}
