.center {
    grid-area: center;
}

.side {
    grid-area: side;
}

.sideLayout {
    display: grid;
    gap: var(--spacing-md);
    grid-template-areas: 'center' 'side';
}

@media (width >= 36em) { /* min xs width */
    .sideLayout {
        grid-template-columns: 50% 1fr;
        grid-template-areas: 'center side';
    }
}

@media (width >= 48em) { /* min sm width */
    .sideLayout {
        grid-template-columns: 50% 1fr;
    }
}

@media (width >= 62em) { /* min md width */
    .sideLayout {
        grid-template-columns: 50% 1fr;
    }
}

@media (width >= 75em) { /* min lg width */
    .sideLayout {
        grid-template-columns: 50% 1fr;
    }
}
@media (width >= 88em) { /* min xl width */
    .sideLayout {
        grid-template-columns: 50% 1fr;
    }
}