.moreArticles {
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);

    .moreArticlesItems {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
    }
}
